<!--<div>-->
<!--  <div>-->
<!--    <a href="/">home</a>-->
<!--  </div>-->
<!--  <div>-->
<!--    <a href="/test_1">rate</a>-->
<!--  </div>-->
<!--  <div>-->
<!--    <a href="/test_2">gen</a>-->
<!--  </div>-->
<!--  <div>-->
<!--    <a href="/test_3">login</a>-->
<!--  </div>-->
<!--</div>-->
<table>
    <tr>
        <td><a href="/">HOME</a></td>
    </tr>
    <tr>
        <td><a href="/test_1">CREATE</a></td>
        <td><a href="/test_1">READ</a></td>
        <td><a href="/test_2">UPDATE</a></td>
        <td><a href="/test_3">DELETE</a></td>
    </tr>
</table>