<table>
    <tr>
        <td><a href="{%url 'reg-home'%}">HOME</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="{%url 'reg-create'%}">регистрация</a></br>
            <a href="{%url 'reg-read'%}">пользователи</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button><a href="{%url 'log-gen'%}">создать случайного пользователя</a></button></br>
            <a href="{%url 'del-base-reg'%}">очистить базу данных</a></td>
        </td>
    </tr>
</table>