<table>
    <tr>
        <td><a href="/">HOME</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="/r_create">регистрация</a></br>
            <a href="/r_read">пользователи</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button><a href="/logins_gen">создать случайного пользователя</a></button></br>
            <a href="/delete_base">очистить базу данных</a></td>
        </td>
    </tr>
</table>